/* Settings: all tabs */
.settings-container {
    padding-top: 1em;
}

.settings-form > * {
    margin-top: 1em;
}

.settings-form > *:not(.alerts) {
    display: flex;
    align-items: flex-start;
}

.settings-form > *:not(.alerts) > :first-child {
    width: 33.33%;
    flex-shrink: 0;
    margin-right: 1em;
}

@media (max-width: 768px) {
    .settings-form > *:not(.alerts) > :first-child {
        width: 40%;
    }
}

.settings-form p.button-desc {
    margin-top: 0.8em;
}

.settings-form .buttons-toolbar {
    justify-content: flex-end;
}

.settings-form .buttons-toolbar > * {
    margin-left: 1em;
}

.settings-form .buttons-toolbar > :first-child {
    width: auto;
    margin-right: 0;
    margin-left: 0;
}

.settings-logs > .buttons-toolbar {
    display: flex;
    justify-content: space-between;
}

.settings-logs > .buttons-toolbar > div > * {
    margin-right: 5px;
}
