.clickable {
    cursor: pointer;
}

.not-clickable {
    cursor: not-allowed;
}

.right-align {
    display: flex;
    justify-content: flex-end;
}

.badge {
    display: inline-block;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    margin-left: 0.5em;
    margin-right: 1em;
    line-height: 1.4em;
}
