.foldable-panel {
    border-radius: 3px;
    border: 1px solid #CFD9DB;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 1.2em;
    background-color: #FFFFFF;
}

.foldable-panel > h3 {
    height: 40px;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    margin: 0;
    background-color: #F1F1F1;
    color: #777777;
    font-weight: 600;
}

.foldable-panel > .foldable-panel-body {
    border-top: 1px solid #CFD9DB;
    padding: 1em;
}

@media (max-width: 620px) {
    .foldable-panel > .foldable-panel-body {
        padding: 0.5em;
    }
}

.foldable-panel.top {
    margin-top: 15px;
}
